Repository Luminous-Dynamics/Mycelix-Music: changes, and which pre-commit hooks are due for each by the changed paths.
All: solhint, typescript-check, forge-test

solhint:
  name: solhint
  entry: bash -c 'cd contracts && npx solhint "src/**/*.sol"'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'npm run type-check --workspace=packages/sdk || true'
  language: system
  pass_filenames: false

forge-test:
  name: Forge Test
  entry: bash -c 'cd contracts && forge test'
  language: system
  pass_filenames: false

🚀 Platform completion: Testing, automation, and production infrastructure
  apps/api/migrations/001_initial_schema.sql
  apps/api/migrations/migrate.sh
  apps/api/tests/integration/songs.test.ts
  contracts/test/GiftEconomyStrategy.t.sol
  contracts/test/PayPerStreamStrategy.t.sol
  examples/contracts/custom-strategy-example.sol
  monitoring/alert_rules.yml
  monitoring/grafana-dashboard.json
  monitoring/prometheus.yml
  packages/sdk/tests/economic-strategies.test.ts
  packages/sdk/tests/setup.ts
  packages/sdk/vitest.config.ts
  scripts/admin-cli.sh
  scripts/deploy-mainnet.sh
  scripts/deploy-testnet.sh
Due: solhint, typescript-check, forge-test

🎯 Final excellence: E2E testing, performance testing, and production deployment
  apps/api/Dockerfile.prod
  apps/web/Dockerfile.prod
  apps/web/playwright.config.ts
  apps/web/tests/e2e/artist-upload.spec.ts
  apps/web/tests/e2e/listener-playback.spec.ts
  contracts/script/DeployMainnet.s.sol
  contracts/script/VerifyDeployment.s.sol
  docker-compose.prod.yml
  performance/k6-load-test.js
  performance/soak-test.js
  performance/stress-test.js
Due: solhint, forge-test

🎯 Production excellence: Monitoring, security, analytics, and disaster recovery
  .env.example
  SECURITY_AUDIT.md
  apps/api/src/middleware/analytics.ts
  apps/web/lib/analytics.ts
  docs/ANALYTICS.md
  docs/DISASTER_RECOVERY.md
  scripts/backup.sh
  scripts/monitoring-setup.sh
  scripts/post-deployment-check.sh
  scripts/restore.sh
  scripts/security-scan.sh
Due: none

🎉 Platform completion: Integration examples, status report, and comprehensive README
  PLATFORM_STATUS.md
  README.md
  docs/INTEGRATION_GUIDE.md
  examples/integration/nodejs-example.ts
  examples/integration/react-example.tsx
Due: none

🎯 Ultimate platform excellence: Automation, tooling, and launch readiness
  contracts/strategies/AuctionStrategy.sol
  contracts/strategies/PatronageStrategy.sol
  contracts/test/AuctionStrategy.t.sol
  contracts/test/PatronageStrategy.t.sol
  docs/ADVANCED_STRATEGIES.md
  packages/sdk/src/advanced-strategies.ts
  scripts/mycelix-cli.sh
Due: solhint, typescript-check, forge-test

📝 Session summary: 12,000+ lines of improvements across 11 phases
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Phase 13-14: API documentation and database optimization
  README.md
  apps/api/migrations/002_materialized_views.sql
  apps/api/src/db/optimized-queries.ts
  apps/api/src/db/performance-monitor.ts
  apps/api/src/swagger.ts
  docs/API_USAGE.md
  docs/DATABASE_OPTIMIZATION.md
  docs/openapi.yaml
Due: none

Phase 15: Advanced analytics components and visualizations
  apps/web/components/analytics/ArtistDashboard.tsx
  apps/web/components/analytics/Charts.tsx
  apps/web/components/analytics/PlatformDashboard.tsx
  apps/web/hooks/useAnalytics.ts
  docs/ANALYTICS_COMPONENTS.md
Due: none

Update session summary with Phases 13-15
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Phase 16: Social features and community engagement
  IMPROVEMENT_PLAN_PHASES_16-21.md
  apps/api/migrations/003_social_features.sql
  apps/api/src/routes/social.ts
  apps/web/components/social/CommentSection.tsx
  apps/web/components/social/FollowButton.tsx
  apps/web/components/social/PlaylistCard.tsx
  apps/web/hooks/useSocial.ts
  docs/SOCIAL_FEATURES.md
Due: none

Update session summary with Phase 16
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Phase 19: Advanced search and discovery engine
  SESSION_IMPROVEMENTS_SUMMARY.md
  apps/api/migrations/004_search_discovery.sql
  apps/api/src/routes/search.ts
  apps/web/components/search/DiscoveryFeed.tsx
  apps/web/components/search/SearchBar.tsx
  apps/web/hooks/useSearch.ts
  docs/SEARCH_DISCOVERY.md
Due: none

Phase 20 (Partial): Creator Tools & Artist Dashboard - Backend
  IMPROVEMENT_PLAN_PHASES_20-24.md
  apps/api/migrations/005_creator_tools.sql
  apps/api/src/routes/creator.ts
Due: none

Phase 20 (Continued): Creator Tools - React Hooks
  apps/web/hooks/useCreator.ts
Due: none

Phase 22: Platform Subscription Strategy (5th Economic Model)
  contracts/strategies/PlatformSubscriptionStrategy.sol
Due: solhint, forge-test

Update session summary with Phases 20 & 22
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Phase 22 (Backend Complete): Platform Subscription System
  apps/api/migrations/006_platform_subscriptions.sql
  apps/api/src/routes/subscriptions.ts
  apps/web/hooks/useSubscription.ts
Due: none

Phase 22 (UI Complete): Platform Subscription Components
  apps/web/components/subscriptions/ArtistRevenuePanel.tsx
  apps/web/components/subscriptions/BillingHistory.tsx
  apps/web/components/subscriptions/ManageSubscription.tsx
  apps/web/components/subscriptions/SubscriptionPlans.tsx
  apps/web/components/subscriptions/SubscriptionStatus.tsx
  apps/web/components/subscriptions/index.ts
Due: none

Update session summary with Phase 22 completion
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Phase 20 (UI Complete): Creator Dashboard Components
  apps/web/components/creator/AdvancedAnalytics.tsx
  apps/web/components/creator/ContentCalendar.tsx
  apps/web/components/creator/CreatorDashboard.tsx
  apps/web/components/creator/FanEngagement.tsx
  apps/web/components/creator/PromotionalTools.tsx
  apps/web/components/creator/SongManager.tsx
  apps/web/components/creator/index.ts
Due: none

Update session summary with Phase 20 completion
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Integration Pages: Subscription & Creator Portal (9 pages, 1,600+ lines)
  apps/web/pages/creator/analytics.tsx
  apps/web/pages/creator/calendar.tsx
  apps/web/pages/creator/dashboard.tsx
  apps/web/pages/creator/fans.tsx
  apps/web/pages/creator/promo.tsx
  apps/web/pages/creator/songs.tsx
  apps/web/pages/subscribe.tsx
  apps/web/pages/subscription/billing.tsx
  apps/web/pages/subscription/manage.tsx
Due: none

Update session summary with Cycle 7 (Integration Pages)
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Cycle 8 (Phases 1-3): Comprehensive Testing Infrastructure (4,700+ lines)
  IMPROVEMENT_PLAN_CYCLE_8-10.md
  apps/api/tests/integration/subscriptions.test.ts
  apps/api/tests/unit/subscriptions.test.ts
  apps/web/hooks/__tests__/useSubscription.test.tsx
  contracts/test/PlatformSubscriptionStrategy.t.sol
Due: solhint, forge-test

Update session summary with Cycle 8 (Testing Infrastructure)
  SESSION_IMPROVEMENTS_SUMMARY.md
Due: none

Add CI workflow
  .github/workflows/ci.yml
Due: none

Add migrations/scripts and SDK tests/docs
  apps/api/migrations/000_base_schema.sql
  apps/api/migrations/001_add_hashes.sql
  apps/api/migrations/002_indexer_state.sql
  apps/api/migrations/003_strategy_configs.sql
  apps/api/migrations/004_strategy_config_hash.sql
  apps/api/migrations/005_indexer_poison.sql
  apps/api/migrations/006_indexer_poison_block.sql
  apps/api/migrations/007_strategy_admin_sig.sql
  apps/api/migrations/008_nonnegative_constraints.sql
  apps/api/migrations/009_fk_plays_song.sql
  apps/api/migrations/README.md
  apps/api/scripts/derive-admin-pub.ts
  apps/api/scripts/migrate.ts
  packages/sdk/README.md
  packages/sdk/src/__tests__/signing.test.ts
Due: typescript-check

Recover advanced API signing/validation and SDK/web EIP-712 helpers
  README.md
  apps/api/.eslintignore
  apps/api/.eslintrc.cjs
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/typedPayloads.ts
  apps/api/src/validators/index.ts
  apps/api/src/validators/uploads.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/src/lib/signedApi.ts
  contracts/package.json
  packages/sdk/.eslintrc.cjs
  packages/sdk/jest.config.cjs
  packages/sdk/package.json
  packages/sdk/src/eip712.ts
Due: typescript-check

Docs: add changelog and validation/upload notes
  apps/api/README.md
  docs/CHANGELOG.md
  docs/NEXT_STEPS.md
  docs/UPLOAD_VALIDATION.md
  docs/VALIDATION_ERRORS.md
Due: none

Tidy upload header validation test expectations
  apps/api/src/__tests__/upload_headers.test.ts
Due: none

Add API test suite (auth, eip712, upload, routes)
  apps/api/src/__tests__/auth.test.ts
  apps/api/src/__tests__/eip712.test.ts
  apps/api/src/__tests__/eip712_claim.test.ts
  apps/api/src/__tests__/eip712_play.test.ts
  apps/api/src/__tests__/preview.test.ts
  apps/api/src/__tests__/routes.test.ts
  apps/api/src/__tests__/upload.test.ts
Due: none

feat: Major platform improvements and industry roadmap
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-lite.yml
  .github/workflows/ci.yml
  INDUSTRY_ROADMAP.md
  README.md
  SECURITY.md
  __init__.py
  apps/api/alerts/indexer-rules.yml
  apps/api/src/cli/export-offers.ts
  apps/api/src/config.ts
  apps/api/src/doctor.ts
  apps/api/src/indexer.ts
  apps/api/src/metrics.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/indexerAdmin.ts
  apps/api/src/routes/preview.ts
  apps/api/src/routes/strategyConfigs.ts
  apps/api/src/security.ts
  apps/api/src/types/ambient.d.ts
  apps/api/src/types/auth.ts
  apps/web/pages/404.tsx
  apps/web/pages/500.tsx
  apps/web/pages/lab.tsx
  apps/web/src/components/EconomicsLab.tsx
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/StatusBanner.tsx
  apps/web/src/components/SystemStatusBanner.tsx
  apps/web/src/components/ToastProvider.tsx
  apps/web/src/lib/api.ts
  apps/web/tests/smoke.spec.ts
  apps/web/tsconfig.tsbuildinfo
  docs/ATTESTATIONS.md
  docs/architecture/EVENT_INDEXING_MIGRATION.md
  grafana/api-indexer-dashboard.json
  packages/sdk/src/eip712.ts
  scripts/ci-e2e.sh
  scripts/seed-testnet.ts
  scripts/test-integration.ts
  src/luminous_nix/bridges/__init__.py
Due: typescript-check

feat: Add Rust API, Holochain DNA, and CDN incentive contracts
  apps/api-rust/Cargo.toml
  apps/api-rust/README.md
  apps/api-rust/src/main.rs
  apps/api-rust/src/models/mod.rs
  apps/api-rust/src/routes/analytics.rs
  apps/api-rust/src/routes/artists.rs
  apps/api-rust/src/routes/mod.rs
  apps/api-rust/src/routes/songs.rs
  apps/api-rust/src/routes/strategies.rs
  apps/api-rust/src/routes/uploads.rs
  apps/api-rust/src/services/blockchain.rs
  apps/api-rust/src/services/cache.rs
  apps/api-rust/src/services/ipfs.rs
  apps/api-rust/src/services/mod.rs
  contracts/src/cdn/CdnRegistry.sol
  contracts/src/cdn/CdnRewards.sol
  contracts/src/cdn/CdnSlashing.sol
  contracts/src/cdn/ICdnNode.sol
  dnas/mycelix-music/Cargo.toml
  dnas/mycelix-music/README.md
  dnas/mycelix-music/dna.yaml
  dnas/mycelix-music/zomes/balances/coordinator/Cargo.toml
  dnas/mycelix-music/zomes/balances/coordinator/src/lib.rs
  dnas/mycelix-music/zomes/balances/integrity/Cargo.toml
  dnas/mycelix-music/zomes/balances/integrity/src/lib.rs
  dnas/mycelix-music/zomes/catalog/coordinator/Cargo.toml
  dnas/mycelix-music/zomes/catalog/coordinator/src/lib.rs
  dnas/mycelix-music/zomes/catalog/integrity/Cargo.toml
  dnas/mycelix-music/zomes/catalog/integrity/src/lib.rs
  dnas/mycelix-music/zomes/plays/coordinator/Cargo.toml
  dnas/mycelix-music/zomes/plays/coordinator/src/lib.rs
  dnas/mycelix-music/zomes/plays/integrity/Cargo.toml
  dnas/mycelix-music/zomes/plays/integrity/src/lib.rs
  dnas/mycelix-music/zomes/trust/coordinator/Cargo.toml
  dnas/mycelix-music/zomes/trust/coordinator/src/lib.rs
  dnas/mycelix-music/zomes/trust/integrity/Cargo.toml
  dnas/mycelix-music/zomes/trust/integrity/src/lib.rs
Due: solhint, forge-test

feat: Complete all 11 economic strategy contracts + real audio playback
  apps/web/components/MusicPlayer.tsx
  contracts/src/strategies/AuctionStrategy.sol
  contracts/src/strategies/FreemiumStrategy.sol
  contracts/src/strategies/NFTGatedStrategy.sol
  contracts/src/strategies/PatronageStrategy.sol
  contracts/src/strategies/PayPerDownloadStrategy.sol
  contracts/src/strategies/PayWhatYouWantStrategy.sol
  contracts/src/strategies/StakingGatedStrategy.sol
  contracts/src/strategies/SubscriptionStrategy.sol
  contracts/src/strategies/TimeBarterStrategy.sol
Due: solhint, forge-test

refactor: Consolidate SDK - remove duplicate from web app
  apps/web/src/lib/economic-strategies.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/signedApi.ts
  apps/web/tsconfig.tsbuildinfo
  packages/sdk/src/eip712.ts
  packages/sdk/src/index.ts
Due: typescript-check

ci: Enhance CI with web build, Rust API, and parallel jobs
  .github/workflows/ci-lite.yml
  .github/workflows/ci.yml
Due: none

feat: Add blockchain event indexer for payment synchronization
  apps/api-rust/migrations/20241230_create_indexer_tables.sql
  apps/api-rust/src/main.rs
  apps/api-rust/src/services/indexer.rs
  apps/api-rust/src/services/mod.rs
Due: none

Path conditions:
  solhint: any of: \.sol$
  typescript-check: any of: packages/sdk/.*\.(ts|tsx)$
  forge-test: any of: contracts/.*\.sol$
